.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border: dashed 1px #fff;
  color: #209e91;
  cursor: pointer;
  width: 100%;
  height: 256px;
  margin-bottom: 20px;
}

.product-images-preview {
  margin: 0 -7px;
  width: 100%;

  .imageItem {
    width: 130px;
    height: 130px;
    display: inline-block;
    margin: 0 7px 14px 7px;
    position: relative;
    border: 4px solid transparent;

    &.isCover {
      border: 4px solid #209e91;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .imageHover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.75);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.1s;

      .removeImageButton {
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
          background-color: #fff;
          i {
            color: #000;
          }
        }

        i {
          color: #fff;
        }
      }
      .makeCoverButton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }

    &:hover {
      .imageHover {
        opacity: 1;
      }
    }
  }
}